body {
    font-family: Arial;
    font-size: 13px;
    background: #F3EFE0;
    color: #000;
}
h1 {font-size: 1.6em;}
h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: bold;
}
#container {
    position: relative;
    margin: 50px 200px;
    background-color: white;
    padding: 2.5em;
    border: 1px solid #bbb;
    -moz-box-shadow: 0px 0px 20px #c8c8c8;
    -webkit-box-shadow: 0px 0px 20px #c8c8c8;
    box-shadow: 0px 0px 20px #c8c8c8;
}

ul li { margin-bottom: 5px; }
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {  zoom: 1;  }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Header */
header .name {
    text-align: left;
    margin-bottom: 5px;
    padding-top: 25px;
}
header ul {
    text-align: right;
    list-style: none;
    margin: 0; padding: 0;
}
header h1 {
    font-weight: normal;
    font-size: 2.6em;
    margin-bottom: 0;
    margin-top: 0;
}
header li {
    margin-bottom: 0px;
}

.email .reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}
header .user-image{
    margin-bottom: -2px;
}


@media (max-width: 1000px){
    header * {
        text-align: center;
    }
    header .name {
        padding-top: 0px;
    }
    header #contact-info{
        margin-bottom: 10px;
    }
}


@media (max-width: 770px){
    header * {
        text-align: center;
    }
    header .name {
        padding-top: 0px;
    }
    header #contact-info{
        margin-bottom: 10px;
    }
    #container {
        margin: 50px 5px;
    }

}

/* Main */
.content{
    border-top: 1px solid #ccc;
}

.content section{
    margin-top: 12px;
}
.content #profile{
    margin-top: 0px;
}

section h1, footer h1 {
    font-style: italic;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
section p {
    font-size: 1em;
    line-height: 1.4em;
}



/* Experience */
.experience{
    background-image: url('../img/experience.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 42px;
}
/* Education */
.education{
    background-image: url('../img/education.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 47px;
}


/* Entry (Experience & Education common) */
.entry-date {
    width: 80px;
    border-right: 1px solid #ccc;
    padding: 7px 10px 20px 0;
}
.entry-date .date {
    margin-left: 10px;
    position: relative;
}
.entry-date .bpoint {
    font-size: 5px;
    width: 6px;
    height: 6px;
    position: absolute;
    left: auto;
    right: -14px;
    top: 6px;
}
.entry-content {
    padding: 0 0 20px 15px;;
    font-size: 12.5px;
}
.entry-content h2 {
    margin-top: 5px;
    color: #0D3A44;
    font-size: 1.2em;
    margin-bottom: 0;
}
.entry-content .term {
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}
.entry-content .location {
    margin: 0;
    padding: 0;
    color: #4f4f4f;
    font-style: italic;
    font-size: 1.1em;
    font-family: Georgia, serif;
}

.section-art-work {
    margin-left: 15px;
}

/* Personal Statement */



/* Skills & hoppies */
#skills{
    background-image: url('../img/skills.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 65px;
}

#hoppies{
    background-image: url('../img/end.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 68px;
}

.skill-hoppy h2 {
    margin-top: 5px;
    color: #0D3A44;
    font-size: 1.2em;
    margin-bottom: 0;
}
.skill-hoppy .skills-area {
    float: left;
    min-height: 100px;
    margin: 10px 25px 0 25px;
}
.skill-hoppy .skills-area ul {
    list-style: none;
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 12.5px;
}
.skill-hoppy .skills-area ul li {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

.score{
    float: right;
}
.score i {
    margin-right: 1px;
}


/*File upload*/
.fileupload {
    display: none;
}
